<form method="post" action="<%= url %>">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <input class="input" type="text" name="checklist[nome]" placeholder="Lista de Tarefas" value="<%= checklist.nome %>"/>
        <% if(checklist.error) { %>
        <p class="is-danger help"><%= checklist.error.nome.message %></p>
        <% } %>
    </div>
  </div>

  <button type="submit" class="button is-success">Salvar</button>
  <a href="/checklists" class="button">Cancelar</a>
</form>
